#imgInfoOutputPanel {
  opacity: 0;
}

#imgInfoOutputPanel.show {
  opacity: 1;
  transition: opacity 0.2s ease;
}

#imgInfoImage {
  background: var(--input-background-fill);
  border-radius: 0.5rem !important;
}

.imgInfoHTMLOutput {
  margin-left: 2px !important;
  overflow-wrap: break-word;
  max-width: 100%;
}

.imgInfoOutputSection {
  padding-top: 5px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 0px;
  background: var(--input-background-fill);
  border-radius: 0.5rem;
  border: 2px solid transparent;
  margin-bottom: 8px;
  transition: all 0.3s ease;
}

.imgInfoOutputSection:hover {
  background: var(--input-background-fill-hover);
}

#imgInfoSendButton {
  display: none;
  margin-top: 5px !important;
  grid-template-columns: 1fr 1fr !important;
  justify-content: center;
  align-items: center;
}

#imgInfoSendButton button.svelte-cmf5ev {
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

#imgInfoSendButton button.svelte-cmf5ev:nth-child(1) {
  border-top-left-radius: 0.5rem;
}

#imgInfoSendButton button.svelte-cmf5ev:nth-child(2) {
  border-top-right-radius: 0.5rem;
}

#imgInfoSendButton button.svelte-cmf5ev:nth-child(3) {
  border-bottom-left-radius: 0.5rem;
}

#imgInfoSendButton button.svelte-cmf5ev:nth-child(4) {
  border-bottom-right-radius: 0.5rem;
}

#imgInfoSendButton button.svelte-cmf5ev:hover {
  border-color: var(--primary-400);
}

.imgInfoButtons {
  transition: color 0.3s ease;
}

.imgInfoButtons:hover {
  color: var(--primary-600) !important;
}

.imgInfoBorderPulse {
  animation: pulseBorder 1s infinite alternate forwards;
}

@keyframes pulseBorder {
  0% {border-color: transparent;}
  50% {border-color: var(--primary-400);}
  100% {border-color: transparent;}
}

.fadeOutBorder {
  animation: fadeOutBorderColor 1s alternate forwards;
}

@keyframes fadeOutBorderColor {
  0% {border-color: var(--primary-400);}
  100% {border-color: transparent;}
}
