:root {
  --output-text-color: #fff;
  --sdimginfo-arrow-background: rgb(224 224 224 / 90%);
  --sdimginfo-viewer-background: rgb(200 200 200 / 95%);
}

.dark {
  --output-text-color: var(--body-text-color);
  --sdimginfo-arrow-background: rgb(32 32 32 / 90%);
  --sdimginfo-viewer-background: rgb(18 18 18 / 95%);
}

@media (max-width: 768px) {
  #tab_SDImageInfo * {
    -webkit-tap-highlight-color: transparent;
  }
}

body.sdimageinfo-body-dont-scroll {
  overflow: hidden;
}

#tabs > .tab-nav.sdimginfo-style {
  border-color: transparent;
}

#footer.sdimginfo-style {
  position: fixed;
  bottom: 10px;
  left: 0;
}

#tab_SDImageInfo {
  box-sizing: border-box;
  position: fixed;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  background: var(--background-fill-primary);
  transform: scale(1);
  overflow: auto;
}

#tab_SDImageInfo.sdimginfo-style {
  z-index: 1;
}

#tab_SDImageInfo > div {
  height: 100%;
  width: 100%;
  overflow: visible;
}

#tab_SDImageInfo > div > .form {
  height: 100%;
}

#SDImageInfo-Column {
  display: flex;
  flex-direction: row;
  flex-grow: 10;
  justify-content: center;
  align-items: flex-start;
  gap: 0 !important;
  position: fixed;
  z-index: 1;
  height: 100%;
  min-height: max-content;
  width: 100%;
  margin: 0;
  padding: 0 !important;
  box-shadow: inset 0 0 7px 1px var(--background-fill-primary);
  background: var(--input-background-fill-hover) !important;
  overflow: hidden;
  box-sizing: border-box;
  will-change: opacity;
}

#SDImageInfo-Column > .form {
  height: 100%;
  border-radius: 0;
}

#SDImageInfo-Column.sdimginfo-style {
  box-shadow: unset;
}

#SDImageInfo-Column.sdimageinfo-column-overflow {
  overflow: auto;
}

#SDImageInfo-Image-Column {
  height: 100%;
  width: 100%;
  position: absolute;
  flex-direction: column;
}

#SDImageInfo-Image {
  --a: 0 0 1px 1px var(--primary-400), 0 0 3px 0 var(--primary-400) !important;
  display: flex;
  flex: 1 1 0%;
  align-self: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  height: unset !important;
  width: min(320px, 100%);
  border: 0 !important;
  border-radius: 1rem !important;
  box-shadow: inset 0 0 15px 0 var(--primary-400), var(--a) !important;
  filter: drop-shadow(0 0 4px var(--primary-400));
  background: transparent;
  overflow: hidden !important;
  transition: box-shadow 0.3s ease;
}

#SDImageInfo-Image:not(.sdimginfo-style):hover {
  box-shadow: inset 0 0 6px 0 var(--primary-400), var(--a) !important;
}

#SDImageInfo-Image > .image-container {
  width: 100%;
}

@media (max-width: 600px) {
  #SDImageInfo-Image {
    width: 100%;
  }
}

#SDImageInfo-Image .boundedheight {
  position: relative;
}

#SDImageInfo-Image.sdimginfo-style .boundedheight {
  position: fixed;
  inset: 0;
  filter: brightness(0.9);
}

#SDImageInfo-Image img {
  display: flex;
  cursor: auto;
  align-self: flex-start;
  position: fixed;
  object-fit: cover;
  object-position: center 10%;
  height: 100%;
  width: 100%;
  opacity: 0;
  border-radius: 0 !important;
  user-select: none;
  -webkit-user-select: none;
  transition: opacity 1s ease;
}

#SDImageInfo-Frame {
  display: flex;
  align-self: flex-start;
  position: fixed;
  height: 100%;
  width: 100%;
  visibility: hidden;
  z-index: 5;
  border-radius: 0 !important;
  pointer-events: none;
  transform: scale(0);
}

#SDImageInfo-Image.sdimginfo-style #SDImageInfo-Frame {
  visibility: visible;
}

#SDImageInfo-Image.sdimginfo-style {
  height: 100% !important;
  width: 100% !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  filter: none !important;
  transition: none;
  top: 0;
}

#SDImageInfo-Image.sdimginfo-style > .image-container {
  display: flex !important;
}

#SDImageInfo-Image > div > div > div > button:nth-child(2),
.gradio-container-4-40-0 #SDImageInfo-Image.sdimginfo-style > div > div:first-child:not(.upload-container) {
  display: none;
}

#SDImageInfo-SendButton {
  display: grid;
  grid-template-columns: 1fr !important;
  justify-content: center;
  align-items: center;
  gap: 5px !important;
  position: absolute;
  z-index: 1;
  left: 0;
  width: max-content;
  padding: 20px 0 0 20px !important;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0s;
  pointer-events: auto;
}

#SDImageInfo-SendButton.sdimageinfo-display-output-panel {
  opacity: 1;
  transform: scale(1);
  transition: opacity .4s ease-out;
}

#SDImageInfo-SendButton button {
  --a: #000 !important;
  --b: var(--background-fill-secondary) !important;
  --c: 0 0 5px 1px var(--a) !important;
  --d: 0 0 1px 1px var(--b) !important;
  white-space: nowrap;
  position: relative;
  padding: 5px 20px;
  border: 0;
  border-radius: 1rem;
  box-shadow: var(--c), var(--d);
  color: var(--primary-400);
  background: var(--input-background-fill);
  transition: .2s ease;
  outline: none;
}

#SDImageInfo-SendButton button:hover {
  --a: var(--primary-400) !important;
  --b: var(--background-fill-primary) !important;
  box-shadow: 0 0 15px 1px var(--a), var(--c), var(--d);
  color: var(--b);
  background: var(--a);
}

#SDImageInfo-Output-Panel {
  display: flex;
  position: absolute;
  height: 0;
  opacity: 0;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  pointer-events: none;
  background: transparent;
  overflow: visible;
  transition: opacity 1s ease;
}

#SDImageInfo-Output-Panel.sdimageinfo-display-output-panel {
  opacity: 1;
  height: max-content;
}

#SDImageInfo-Output-Panel.sdimageinfo-display-output-fail {
  height: 100%;
}

#SDImageInfo-img-area {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: 0;
  pointer-events: auto;
}

#SDImageInfo-HTML {
  display: flex;
  flex-direction: column;
  gap: 1rem !important;
  overflow-wrap: break-word;
  position: relative;
  height: 100%;
  max-width: 100%;
  border-radius: .8rem !important;
  margin-top: 190px;
  padding: 20px !important;
  padding-top: 0 !important;
  pointer-events: none;
}

#SDImageInfo-Output-Panel .sdimageinfo-output-section {
  color: var(--output-text-color);
  border: 0;
  margin: 0;
  background: transparent;
  filter: drop-shadow(0 0 2px #000);
  cursor: default;
  transition: 0.3s ease, filter 0s;
}

#SDImageInfo-Output-Panel .sdimageinfo-output-section.sdimageinfo-output-models-section {
  filter: none !important;
}

#SDImageInfo-Output-Panel .sdimageinfo-output-title {
  display: flex;
  position: relative;
  z-index: 2;
  font-weight: bold;
  cursor: default;
  width: max-content;
  font-size: 16px;
  text-align: center;
  color: var(--primary-400);
  justify-content: flex-start;
  margin: 0;
  border: 0;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 4px 10px;
  background: var(--input-background-fill);
  pointer-events: auto;
  transition: .2s ease;
}

#SDImageInfo-Output-Panel .sdimageinfo-copybutton {
  cursor: pointer;
}

#SDImageInfo-Output-Panel .sdimageinfo-copybutton:hover {
  color: var(--background-fill-primary);
  background: var(--primary-400);
  box-shadow: 0 0 10px 0px var(--primary-400);
}

#SDImageInfo-Seed-Button {
  color: var(--primary-400);
  cursor: pointer;
  transition: color 0.3s ease;
}

#SDImageInfo-Seed-Button:hover {
  color: var(--primary-600) !important;
}

#SDImageInfo-Output-Panel .sdimageinfo-output-wrapper {
  position: relative;
  z-index: 1;
  border: 0;
  border-radius: 0 .5rem .5rem .5rem;
  background: var(--input-background-fill);
  pointer-events: auto;
  transition: .4s ease;
}

#SDImageInfo-Output-Panel .sdimageinfo-output-content {
  line-height: 1.7;
  margin: 0;
  padding: 5px 8px;
  border: 0;
  cursor: default;
  border-radius: 0 .5rem .5rem .5rem;
  transition: .3s ease;
}

#SDImageInfo-Output-Panel .sdimageinfo-output-content.sdimginfo-style {
  --a: inset 0 0 0 0 transparent !important;
  --b: inset 0 0 1px 1px var(--primary-400) !important;
  animation: sdimginfo-pulseBorder 2s infinite alternate forwards;
}

@keyframes sdimginfo-pulseBorder {
  0% {
    box-shadow: var(--a), var(--a);
  }
  25% {
    box-shadow: var(--b), inset 0 0 15px 2px var(--primary-400);
  }
  50% {
    box-shadow: var(--b), inset 0 0 3px 1px var(--primary-400);
  }
  75% {
    box-shadow: var(--b), inset 0 0 15px 2px var(--primary-400);
  }
  100% {
    box-shadow: var(--a), var(--a);
  }
}

#SDImageInfo-Output-Panel .sdimageinfo-display-model-output {
  animation: undressBox 1.5s forwards ease;
}

@keyframes undressBox {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#SDImageInfo-Output-Panel .sdimageinfo-output-failed {
  display: flex;
  width: 100%;
  pointer-events: auto;
  padding: 5px 10px;
  color: var(--output-text-color);
  border: 1px solid rgb(255 255 255 / 10%);
  border-radius: 1rem;
  box-shadow: 0 0 10px 0 rgb(255 255 255 / 10%), 0 0 5px 0 rgb(255 255 255 / 20%), inset 0 0 5px 0 rgb(255 255 255 / 20%);
  filter: drop-shadow(0 0 1px rgb(0 0 0 / 50%));
  background: rgb(0 0 0 / 30%);
}

#SDImageInfo-Spinner-Wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 70px;
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
}

#SDImageInfo-Spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 80px;
  width: 80px;
  margin: 0;
  padding: 0;
  animation: sdimginfo-spinner 1.5s linear infinite;
}

#SDImageInfo-Spinner > svg {
  height: 100%;
  width: 100%;
  filter: drop-shadow(0 0 2px rgb(0 0 0 / 90%)) drop-shadow(0 0 10px rgb(0 0 0 / 60%)) drop-shadow(0 0 1px var(--primary-400));
}

#SDImageInfo-Spinner path,
#SDImageInfo-Spinner polygon {
  fill: var(--primary-400);
}

@keyframes sdimginfo-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ############################################################################################################ */

#SDImageInfo-Image-Viewer {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: var(--sdimginfo-viewer-background);
  background-repeat: repeat;
  transition: opacity .15s ease;
  overflow: hidden;
}

#SDImageInfo-Image-Viewer.sdimginfo-style {
  opacity: 1;
  transition: opacity .2s ease;
}

#SDImageInfo-Image-Viewer-Control {
  display: flex;
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: .2s;
  pointer-events: none;
}

#SDImageInfo-Image-Viewer-Control.sdimginfo-style {
  opacity: 0;
}

#SDImageInfo-Image-Viewer-Control.sdimginfo-style * {
  pointer-events: none !important;
}

#SDImageInfo-Image-Viewer-Wrapper {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 0;
  transform: translate(0px, 0px) scale(1.2);
  transition: transform .2s ease-out;
  pointer-events: none;
}

#SDImageInfo-Image-Viewer-Wrapper * {
  pointer-events: auto;
}

#SDImageInfo-Image-Viewer-Wrapper.sdimginfo-style {
  transform: translate(0px, 0px) scale(1);
}

#SDImageInfo-Image-Viewer-img {
  display: flex;
  position: relative;
  object-fit: contain;
  align-self: center;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  background-color: #212121;
  transform: translate(0px, 0px) scale(1.0001);
  transition: transform .2s ease-out;
}

/* ############################################################################################################ */

#SDImageInfo-Custom-Wrapper {
  display: flex;
  position: fixed;
  z-index: 2;
  height: 100%;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
  transition: opacity 1.2s ease;
}

#SDImageInfo-Image.sdimginfo-style #SDImageInfo-Custom-Wrapper {
  opacity: 1;
}

#SDImageInfo-Image-Frame {
  display: none;
  align-self: flex-start;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 5;
  border-radius: 0 !important;
  pointer-events: none;
  box-shadow: inset 0 0 10px 0 var(--background-fill-primary), inset 0 0 5px 0 var(--background-fill-primary);
}

#SDImageInfo-Image.sdimginfo-style #SDImageInfo-Image-Frame {
  display: flex;
}

#SDImageInfo-Gear-Button,
#SDImageInfo-Clear-Button,
#SDImageInfo-Image-Viewer-Exit-Button {
  display: flex;
  position: absolute;
  height: 50px;
  width: 50px;
  margin: 0;
  gap: 0;
  padding: 6px;
  box-sizing: border-box;
  border: 0;
  color: var(--primary-400) !important;
  background: var(--input-background-fill);
  box-shadow: 0 0 5px 1px #000;
  pointer-events: auto;
  cursor: pointer;
}

#SDImageInfo-Gear-Button {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  border-bottom-right-radius: 1.2rem;
  transition: filter .2s ease, color .2s ease, background-color .2s ease, box-shadow .3s ease;
}

#SDImageInfo-Gear-Button > svg {
  stroke: var(--primary-400);
  filter: drop-shadow(0 0 1px #000);
  transition: .2s ease;
}

#SDImageInfo-Gear-Button > svg > path {
  fill: transparent;
}

#SDImageInfo-Image.sdimginfo-style #SDImageInfo-Gear-Button:hover {
  background: var(--primary-400);
  filter: drop-shadow(0 0 5px var(--primary-400));
}

#SDImageInfo-Image:not(.sdimginfo-style) #SDImageInfo-Gear-Button:hover {
  background: var(--primary-400);
}

#SDImageInfo-Gear-Button:hover > svg {
  stroke: #fff;
}

#SDImageInfo-Image.sdimginfo-style #SDImageInfo-Gear-Button {
  top: 0;
  right: 70px;
  left: unset;
  border-radius: 0 0 100px 100px;
  filter: unset;
}

#SDImageInfo-Image.sdimginfo-style #SDImageInfo-Gear-Button.sdimginfo-style {
  animation: gear-fade-in 1.2s ease forwards;
}

@keyframes gear-fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

#SDImageInfo-Image.sdimginfo-style #SDImageInfo-Gear-Button > svg {
  position: relative;
  top: -1px;
}

#SDImageInfo-Clear-Button {
  display: none;
}

#SDImageInfo-Image.sdimginfo-style #SDImageInfo-Clear-Button {
  display: flex;
}

#SDImageInfo-Clear-Button,
#SDImageInfo-Image-Viewer-Exit-Button {
  right: 0;
  border-bottom-left-radius: 1.2rem;
  transition: .2s ease, opacity .8s ease;
}

#SDImageInfo-Clear-Button > svg,
#SDImageInfo-Image-Viewer-Exit-Button > svg {
  --a: drop-shadow(0 0 1px rgb(0 0 0 / 50%)) !important;
  position: relative;
  top: -1px;
  right: -1px;
  filter: var(--a) var(--a) var(--a);
}

#SDImageInfo-Clear-Button:hover,
#SDImageInfo-Image-Viewer-Exit-Button:hover {
  color: #fff !important;
  background: red;
  filter: drop-shadow(0 0 5px red);
}

#column_settings_SDImageInfo-Setting {
  gap: 0 !important;
  padding: 0 !important;
  border: 0;
  border-radius: 1rem;
  background: var(--input-background-fill) !important;
  box-shadow: 0 0 3px 1px #000;
  min-width: max-content !important;
  width: max-content;
  max-width: 100%;
}

#setting_sd_image_info_layout {
  display: flex;
  margin-top: 0 !important;
  padding: 10px !important;
  background: transparent !important;
}

#setting_sd_image_info_layout > .wrap:not(.hide) {
  gap: 10px;
}

#setting_sd_image_info_layout > div > label,
#setting_sd_image_info_layout > div > label > input,
#setting_sd_image_info_layout > div > label > span {
  transition: .3s ease;
}

#setting_sd_image_info_layout > div > label {
  box-shadow: 0 0 3px 1px #000;
  background: var(--checkbox-label-background-fill) !important;
}

#setting_sd_image_info_layout > div > label > input {
  border-color: var(--body-text-color);
}

#setting_sd_image_info_layout > div > label > input:checked + span {
  color: var(--primary-400);
  filter: drop-shadow(0 0 5px var(--primary-500));
}

#setting_sd_image_info_layout > div > label > input:checked {
  border-color: var(--primary-500);
  box-shadow: 0 0 7px 1px var(--primary-500);
  filter: drop-shadow(0 0 5px var(--primary-500));
  background-image: var(--radio-circle);
  background-color: var(--primary-400);
}

#SDImageInfo-Setting-Button-Wrapper {
  position: relative;
  height: max-content;
  width: max-content;
  padding: 10px;
}

#SDImageInfo-Setting-Apply-Button {
  width: 100px;
  box-shadow: 0 0 3px 1px #000;
}

#SDImageInfo-Setting-Preview-Wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: relative;
  height: auto;
  width: max-content;
  max-width: 100%;
}

#SDImageInfo-Setting-Preview-Wrapper .sdimageinfo-setting-preview {
  display: none;
  width: 768px;
  user-select: none;
  -webkit-user-select: none;
}

#SDImageInfo-Arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  right: 23px;
  bottom: 23px;
  height: 45px;
  width: 45px;
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 50%;
  box-shadow: inset 0 0 1px 1px var(--primary-400), inset 0 0 7px 0 var(--primary-400), 0 0 10px 1px var(--primary-400);
  color: var(--primary-400);
  background: var(--sdimginfo-arrow-background);
  transform: scale(0);
  transition: .3s ease;
  cursor: pointer;
}

#SDImageInfo-Arrow svg {
  transition: .3s ease;
}

#SDImageInfo-Arrow polygon {
  transform: scale(90%);
  transform-origin: center;
}

#SDImageInfo-Arrow:hover,
#SDImageInfo-Arrow:hover svg {
  filter: drop-shadow(0 0 2px var(--primary-400));
}