:root {
  --output-text-color: #fff;
}

.dark {
  --output-text-color: var(--body-text-color);
}

#tab_sd_image_info {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  position: fixed;
  left: 0;
  z-index: 1;
  width: 100%;
  background: var(--background-fill-primary);
  overflow: auto;
  overscroll-behavior: contain;
  scroll-behavior: smooth;
}

#tab_sd_image_info > div {
  height: 100%;
}

#SDImageInfo-Column {
  display: flex;
  margin: 0;
  min-height: var(--size-60);
  padding: 0 !important;
  background: transparent !important;
  position: relative;
  gap: 0 !important;
  height: 100%;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  z-index: 1;
  overflow: hidden;
}

#SDImageInfo-Column.column-overflow {
  overflow: auto;
}

#SDImageInfo-Image {
  display: flex;
  flex: 1 1 0%;
  align-self: flex-start;
  justify-content: flex-start;
  position: absolute;
  top: 20px;
  height: unset !important;
  width: 25vw;
  max-width: 100%;
  max-height: 100%;
  border: 2px solid var(--primary-400) !important;
  border-radius: 1rem !important;
  box-shadow: inset 0 0 20px 1px var(--primary-400) !important;
  filter: drop-shadow(0 0 6px var(--primary-400));
  overflow: hidden !important;
  background: transparent;
  transition: box-shadow 0.3s ease;
}

#SDImageInfo-Image > .image-container {
  width: 100%;
}

@media (max-width: 600px) {
  #SDImageInfo-Image {
    width: 100%;
  }
}

#SDImageInfo-Image:hover {
  box-shadow: inset 0 0 5px 1px var(--primary-400) !important;
}

#SDImageInfo-Image.img-enter {
  height: 100% !important;
  width: 100% !important;
  border: 0 !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  filter: none !important;
  transition: none;
  top: 0;
}

#SDImageInfo-Image.img-enter > .image-container {
  display: flex !important;
}

#SDImageInfo-Image img {
  display: flex;
  cursor: auto;
  align-self: flex-start;
  position: fixed;
  object-fit: cover;
  object-position: center 10%;
  height: 100%;
  width: 100%;
  opacity: 0;
  user-select: none;
  border-radius: 0 !important;
  -webkit-user-select: none;
  transition: opacity 1s ease;
}

#SDImageInfo-Image-Frame {
  display: none;
  align-self: flex-start;
  width: 100%;
  position: fixed;
  z-index: 5;
  border-radius: 0 !important;
  pointer-events: none;
  box-shadow: inset 0 0 10px 4px #000;
  filter: drop-shadow(0 0 1px #000);
}

#SDImageInfo-Image.img-enter #SDImageInfo-Image-Frame {
  display: flex;
}

#SDImageInfo-Clear-Button {
  display: flex !important;
  position: fixed;
  height: 60px;
  width: 60px;
  margin: 4px 4px 0 0;
  gap: 0;
  padding: 5px;
  border-radius: 0 0 0 1.5rem;
  box-sizing: border-box;
  border: 0;
  color: var(--primary-400) !important;
  background: var(--input-background-fill);
  box-shadow: 0 0 5px 3px #000;
  transition: 0.2s ease;
}

#SDImageInfo-Clear-Button > div {
  position: relative;
  width: 100%;
  height: 100%;
  border: 0;
}

#SDImageInfo-Clear-Button path {
  stroke-width: 5px !important;
}

#SDImageInfo-Clear-Button:hover {
  color: #fff !important;
  background: red;
  filter: drop-shadow(-1px 1px 4px red);
}

#SDImageInfo-SendButton {
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  padding: 20px 0 0 20px !important;
  width: max-content;
  pointer-events: auto;
  grid-template-columns: 1fr !important;
  justify-content: center;
  align-items: center;
}

#SDImageInfo-SendButton button {
  border: 1px solid #000;
  position: relative;
  padding: 6px 20px;
  border-radius: 1rem;
  box-shadow: 0 0 5px 1px #000;
  transition: 0.1s ease-out;
}

#SDImageInfo-SendButton button:hover {
  box-shadow: 0 0 5px 1px var(--primary-400);
  filter: drop-shadow(0 0 9px var(--primary-400));
  border-color: var(--background-fill-primary);
  color: var(--background-fill-primary);
  background: var(--button-primary-background-fill);
}

#SDImageInfo-OutputPanel {
  display: flex;
  position: absolute;
  opacity: 0;
  height: 0;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  background: transparent;
  overflow: visible;
  transition: opacity 1s ease;
}

#SDImageInfo-img-area {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: 0;
  pointer-events: auto;
}

#SDImageInfo-OutputPanel.display-output-panel {
  opacity: 1;
  height: max-content;
}

#SDImageInfo-HTML {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-wrap: break-word;
  height: 100%;
  gap: 1.2rem;
  max-width: 100%;
  margin-top: 240px;
  padding: 0 20px 20px 20px !important;
  border-radius: 0.8rem !important;
  pointer-events: none;
}

#SDImageInfo-OutputPanel .sdimageinfo-output-section {
  color: var(--output-text-color);
  border: 0;
  margin: 0;
  background: transparent;
  filter: drop-shadow(0px 0px 4px #000);
  cursor: default;
  transition: 0.3s ease;
}

#SDImageInfo-OutputPanel .sdimageinfo-output-title {
  display: flex;
  position: relative;
  z-index: 2;
  font-weight: bold;
  cursor: default;
  width: max-content;
  font-size: 15px;
  text-align: center;
  color: var(--primary-400);
  justify-content: flex-start;
  margin: 0;
  border: 0;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 4px 8px;
  background: var(--sdimageinfo-output-bg);
  filter: drop-shadow(0 0 5px var(--sdimageinfo-output-bg));
  pointer-events: auto;
  transition: 0.4s ease;
}

#SDImageInfo-OutputPanel .sdimageinfo-copybutton {
  cursor: pointer;
  transition: 0.4s ease;
}

#SDImageInfo-OutputPanel .sdimageinfo-copybutton:hover {
  color: var(--background-fill-primary);
  background: var(--primary-400);
  box-shadow: 0 0 5px 1px var(--primary-400);
  filter: drop-shadow(0 0 9px var(--primary-400));
}

#SDImageInfo-Seed-Button {
  color: var(--primary-400);
  cursor: pointer;
  transition: color 0.3s ease;
}

#SDImageInfo-Seed-Button:hover {
  color: var(--primary-600) !important;
}

#SDImageInfo-OutputPanel .sdimageinfo-output-wrapper {
  position: relative;
  z-index: 1;
  border: 0;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  background: var(--sdimageinfo-output-bg);
  filter: drop-shadow(0 0 5px var(--sdimageinfo-output-bg));
  pointer-events: auto;
  transition: 0.4s ease;
}

#SDImageInfo-OutputPanel .sdimageinfo-output-content {
  line-height: 1.7;
  margin: 0;
  padding: 5px 8px;
  border: 1px solid transparent;
  cursor: default;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  transition: 0.3s ease;
}

#SDImageInfo-OutputPanel .sdimageinfo-display-model-output {
  animation: undressBox 1s forwards ease-out;
}

.sdimageinfo-borderpulse {
  animation: pulseBorder 2s infinite alternate forwards;
}

@keyframes pulseBorder {
  0% {
    border-color: transparent;
    box-shadow: inset 0 0 0 0 transparent;
  }
  25% {
    border-color: var(--primary-400);
    box-shadow: inset 0 0 15px 2px var(--primary-400)
  }
  50% {
    border-color: var(--primary-400);
    box-shadow: inset 0 0 3px 1px var(--primary-400)
  }
  75% {
    border-color: var(--primary-400);
    box-shadow: inset 0 0 15px 2px var(--primary-400)
  }
  100% {
    border-color: transparent;
    box-shadow: inset 0 0 0 0 transparent;
  }
}

#SDImageInfo-OutputPanel .sdimageinfo-output-failed {
  display: flex;
  width: 100%;
  pointer-events: auto;
  padding: 5px 10px;
  color: var(--output-text-color);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.1), 0 0 5px 0 rgba(255, 255, 255, 0.2), inset 0 0 5px 0 rgba(255, 255, 255, 0.2);
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.5));
  background: rgba(0, 0, 0, 0.3);
}

#SDImageInfo-Spinner {
  margin: 0 auto;
  animation: spinner 1.5s linear infinite;
  filter: drop-shadow(0 0 10px rgba(0,0,0,0.7));
}

#SDImageInfo-Spinner path,
#SDImageInfo-Spinner polygon {
  fill: var(--primary-400);
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes undressBox {
  0% {
    opacity: 0;
    filter: blur(2px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

#SDImageInfo-Image-Viewer {
  display: none;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0;
  overflow: hidden;
  backdrop-filter: blur(10px);
  transition: opacity 0.3s ease;
}

#SDImageInfo-Image-Viewer-Wrapper {
  display: flex;
  height: 100%;
  position: relative;
  transition: transform 0.3s ease;
  transform: translate(0px, 0px) scale(0);
}

#SDImageInfo-Image-Viewer-img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  transition: transform 0.1s ease;
}
